.card{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content:center;
     align-items: center; 
    padding:1rem 3rem;

}
.card-box{
    margin:1rem;
}
.swiper-container{
    height:250px;
    width:250px;
    overflow: hidden;
    border-bottom: 1rem;
}
.cards-img{
    height:250px;
    width:250px;
    object-fit:cover;
    border-radius: 1rem;
     
}
.cards-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    left:0
}

.info-emoj{
    display: flex;
    align-items: center;
justify-content: space-around;
    gap:0.5rem;
   
    }
    
    .info-emoj > p{
        font-size: 1rem;
font-weight: 600;
    }