.outer-lnav{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 2px solid var(--grey);
    margin-top:15px;
    padding:0.5rem;
    overflow-x: auto;
}
.Lnav-div{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    opacity: 0.5;
    
}
.SelectLnav-div,
.Lnav-div:hover{
    opacity: 1;
    border-bottom: 1px solid var(--black);
    transition: all 0.3s;
}
.Lnav-div > img{
width:1.5rem;
height:1.2rem;
object-fit: contain;
}
.Lnav-label{
    font-size: small;
    font-weight: 600;
    color:var(--lgrey);
}